{
  "users": [
    {
      "external_id": "124", // required
      "name": "Jane Smith", // required
      "email": "jane.smith@example.com", // required
      "department": "Engineering/Frontend", // required, can be empty
      "status": "active", // required, active or inactive
      "supervisor_id": "123", // required, can be empty
      "real_email": "jane@example.com", // optional
      "job_title": "Frontend Developer" // optional
    },
    {
      "external_id": "125",
      "name": "Bob Wilson",
      "email": "bob.wilson@example.com",
      "department": "Sales/EMEA",
      "status": "active",
      "supervisor_id": "124",
      "real_email": "bob@example.com",
      "job_title": "Sales Manager"
    }
  ]
} 